<div class="container--min content--narrow">
  <% if @general_info.history.present? %>
    <%= render "section", heading: "Background" do %>
      <%= @general_info.history %>
    <% end %>
  <% end %>

  <% if @articles.any? %>
    <%= render "section", heading: "Press" do %>
      <% @articles.each_with_index do |article, index| %>
        <% if index == 0 || article.year != @articles[index - 1].year %>
          <div class="history__article-year"><%= article.year %></div>
        <% end %>
        <%= render "article", article: article %>
      <% end %>
    <% end %>
  <% end %>

  <% @past_fests.each_with_index do |fest, index| %>
    <% reverse = index % 2 == 1 %>
    <%= render "section", heading: "EBABZ #{fest.year}", reverse: reverse do %>
      <%= render "fest_info", fest: fest %>
    <% end %>

    <%= render "section",
      heading: "#{fest.year} Vendors",
      class_name: "vendors-section",
      reverse: reverse do
    %>
      <% fest.vendors.each do |vendor| %>
        <%= render "vendor", vendor: vendor %>
      <% end %>
    <% end %>
  <% end %>
</div>
