<div class="container--min content--narrow">
  <% if @general_info.history.present? %>
    <%= render "section", heading: "Background" do %>
      <%= @general_info.history %>
    <% end %>
  <% end %>

  <% if @articles.any? %>
    <%= render "section", heading: "Press", reverse: true do %>
      <% @articles.each_with_index do |article, index| %>
        <% if index == 0 || article.year != @articles[index - 1].year %>
          <p><%= article.year %></p>
        <% end %>
        <%= render "article", article: article %>
      <% end %>
    <% end %>
  <% end %>

  <% if @past_fests.any? %>
    <h2>Past Fests</h2>
  <% end %>

  <% @past_fests.each do |fest| %>
    <%= render "fest_info", fest: fest %>

    <%= render "section", heading: "#{fest.year} Vendors" do %>
      <% fest.vendors.each do |vendor| %>
        <%= render "vendor", vendor: vendor %>
      <% end %>
    <% end %>
  <% end %>
</div>
