<div class="about container--min content--narrow">
  <%= render "section", heading: "EBABZ #{@fest.year}" do %>
    <%= render "fest_info", fest: @fest %>
  <% end %>

  <% if @faqs.any? %>
    <%= render "section", heading: "FAQ" do %>
      <% @faqs.each do |faq| %>
        <%= render "faq", faq: faq %>
      <% end %>
    <% end %>
  <% end %>

  <% if @general_info.safe_space_policy.present? %>
    <%= render "section", heading: "Safe Space Policy" do %>
      <%= @general_info.safe_space_policy %>
    <% end %>
  <% end %>
</div>
