<%= button_tag "Menu",
  onclick: "document.getElementById('mobile-menu').classList.toggle('m--open')",
  type: "button",
  class: "mobile-menu__open-button"
%>

<div id="mobile-menu" class="mobile-menu">
  <%= button_tag "Close",
    onclick: "document.getElementById('mobile-menu').classList.toggle('m--open')",
    type: "button",
    class: "mobile-menu__close-button"
  %>
  <%= link_to "Home",
    root_path,
    class: "mobile-menu__home-link"
  %>
  <%= render "nav_links" %>
  <%= render "icon_links" %>
</div>
