<!DOCTYPE html>
<html>
  <head>
    <title>EBABZ</title>
    <meta name="description" content="East Bay Alternative Book and Zines Fest">
    <meta name="keywords" content="EBABZ, east bay, zine, alternative, books, zines, book, fest">
    <meta http-equiv="Content-Type" content="text/html; charset-utf-8">

    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/manifest.json">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
